.error__container {
  width: 100%;
  min-height: 300px;
  display: grid;
  place-items: center;
  color: #ef5350;
  text-align: center;
}

.error__title {
  font-weight: bold;
  font-size: 7rem;
}

.error__text {
  line-height: 1.25rem /* 20px */;
}
