.header__container {
  background-color: #ef5350;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 5px;
  height: 100px;
}

.menu_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 30%;
  margin-right: 20px;
}

.user__container {
  width: 100%;
  display: flex;

  align-items: center;
  gap: 10px;
}

.user {
  font-weight: bold;
  color: white;
  width: 60%;
}

.logout__form {
  width: 10%;
}

.logout {
  cursor: pointer;
  color: white;
  text-decoration: underline;
  margin: 0;
  background-color: transparent;
  padding: 0;
  border: none;
}

.header__pokeball {
  width: 1.5rem;
}
