.navigation__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.navigation__container button {
  border-radius: 5px;
  width: 5rem;
  background-color: #ef5350;
  border: none;
  padding: 0.4rem 0.6rem;
  color: white;
  cursor: pointer;
}

.navigation__container button:disabled {
  opacity: 0.4;
  cursor: none;
}
