.pokemon__container {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem 0;
  margin: 0.3rem;
  border: 1px solid #efefef;
  border-radius: 0.2rem;
  min-width: 160px;
  min-height: 200px;
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
  color: #ef5350;
}
.pokemon__container:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.title {
  font-weight: bold;
}

.subTitle {
  font-size: 1rem;
}

.avatar {
  height: 60px;
}
.pokeball {
  position: absolute;
  height: 14px;
  top: 4px;
  right: 4px;
}
